.scheduler {
	height: calc(100vh - 0.8rem);
	width: calc(100vw - 0.8rem);
	max-height: 700px;
	max-width: 1000px;
	box-shadow: 0 0 2rem 0 rgba(42, 36, 36, 0.1);
	border-radius: 1rem;

	--border: 1px solid lightgray;
	--rowHeight: 60px;
	overflow-x: auto;
	overflow-y: hidden;
}

.scheduler * {
	user-select: none;
}

.schedulerHeader {
	display: flex;
	min-width: 800px;
}
.schedulerDays {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: fit-content;
	border-bottom: var(--border);
	box-sizing: border-box;
}
.schedulerDay {
	text-align: center;
	display: grid;
	place-items: center;
	width: 100%;
	max-width: 124px;
	min-width: 99px;
	height: 50px;
	border-left: var(--border);
}
.schedulerDay:nth-child(2) {
	border-left: 1px solid transparent;
}
.schedulerDaySpacer {
	width: 100%;
	max-width: 125px;
	min-width: 100px;
	height: 50px;
	text-align: center;
}

.schedulerBody {
	width: 100%;
	min-width: 800px;
	height: 100%;
	display: flex;
	max-height: calc(100% - 50px);
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}
.schedulerTimes {
	width: calc(100% / 8);
	min-width: 100px;
	padding-top: 16px;
	position: relative;
}
.schedulerTimeStamp {
	height: var(--rowHeight);
	text-align: right;
	margin-right: 0.5rem;
	font-size: 14px;
}
.schedulerContent {
	width: 100%;
	display: flex;
	position: relative;
}
.schedulerColumn {
	height: 100%;
	width: calc(100% / 8);
	min-width: 100px;
}
.schedulerRow {
	border-bottom: var(--border);
	border-left: var(--border);
	height: var(--rowHeight);
	box-sizing: border-box;
	position: relative;
}

.schedulerRowSpacer {
	height: 25px;
	border-bottom: var(--border);
	border-left: var(--border);
	box-sizing: border-box;
}

.schedulerRow:hover {
	background-color: rgba(173, 216, 230, 0.099);
}

.schedulerCurrentTimeLine {
	height: 2px;
	width: calc(100% / 8 * 7);
	background-color: blue;
	position: absolute;
	top: 23px;
	right: 0;
	transition: transform 0.2s;
	pointer-events: none;
	user-select: none;
	z-index: 5;
}

.schedulerCurrentTimeLine::after {
	content: attr(data-currenttime);
	position: absolute;
	left: 0px;
	font-size: 12px;
	top: -9px;
	color: white;
	background-color: blue;
	border-radius: 2px;
	padding: 2px 5px;
}

.schedulerHoverTime {
	position: absolute;
	top: -9px;
	right: 8px;
	color: blue;
	font-size: 14px;
	text-align: right;
	transition: transform 0.1s;
}

.schedulerEvent {
	position: absolute;
	top: 0;
	left: 4px;
	width: calc(100% - 8px);
	min-height: 15px;
	background-color: rgb(89, 89, 255);
	border-radius: 5px;
	cursor: pointer;
	z-index: 3;
	overflow-y: visible;
}

.schedulerEvent:hover {
	background-color: rgb(72, 72, 255);
}
.schedulerEvent:hover .schedulerEventGrabber,
.schedulerEvent:hover .schedulerEventResizer {
	visibility: visible;
}

.schedulerEventInfo {
	position: sticky;
	top: 10px;
	padding-bottom: 10px;
	pointer-events: none;
	user-select: none;
}

.schedulerEventTitle {
	font-size: 14px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
	user-select: none;
	pointer-events: none;
}
.schedulerEventTime {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.733);
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	user-select: none;
	pointer-events: none;
}
.schedulerEventGrabber {
	display: flex;
	justify-content: center;
	gap: 2px;
	position: absolute;
	width: 100%;
	top: 5px;
	left: 0;
	cursor: grab;
	visibility: hidden;
	pointer-events: all;
}

.schedulerEventIsGrabbed {
	opacity: 0.3;
}

.schedulerEventGrabber:hover svg {
	opacity: 0.5;
}
.schedulerEventGrabber svg {
	height: 0.4rem;
	opacity: 0.2;
	fill: rgb(188, 193, 252);
	pointer-events: none;
	user-select: none;
}

.schedulerEventResizer {
	position: absolute;
	width: 80%;
	height: 4px;
	bottom: 5px;
	left: 50%;
	cursor: ns-resize;
	background-color: rgb(188, 193, 252);
	opacity: 0.2;
	transform: translateX(-50%);
	border-radius: 50px;
	visibility: hidden;
}
.schedulerEventResizer:hover {
	opacity: 0.5;
}

.schedulerModalContainer {
	position: absolute;
	width: 230px;
	height: 240px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 2rem 0 rgba(42, 36, 36, 0.1);
	z-index: 6;
	pointer-events: all;
}

.schedulerModalInputContainer {
	display: flex;
	margin: 10px 0;
}

.schedulerModalInputLabel {
	font-weight: bolder;
	margin: 5px 10px;
	font-size: 14px;
	min-width: 40px;
}

.schedulerModalTitle {
	font-weight: bolder;
	text-align: center;
	margin-top: 10px;
	pointer-events: all;
}
.schedulerModalInputTitle {
	border: none;
	border-bottom: 1px solid black;
}
.schedulerModalInputTitle:focus {
	outline: none;
}
.schedulerModalInputTime {
	border: none;
	border-bottom: 1px solid black;
}
.schedulerModalInputTime:focus {
	outline: none;
}
.schedulerModalInputSelect {
	border: none;
	border-bottom: 1px solid black;
}
.schedulerModalInputSelect:focus {
	outline: none;
}

.schedulerModalButton {
	margin: 20px auto 0 auto;
	display: block;
}
